html, body {
    height: 100%;
}

body {
    overflow: hidden;
    background-image: url(../bgs/tarmac.jpg);
    background-size: cover;

    font-family: sf_archery_blackregular, Helvetica, Arial, sans-serif;
    color: #FFF;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

h1, h2 {
    margin: 0;
    cursor: default;
}

h1 {
    font-size: 7em;
    text-shadow: 0 0 10px #000, 0 0 5px #000;
    letter-spacing: 0.05em;
    color: #49F;
    margin-bottom: 0.2em;
}

h2 {
    font-size: 5em;
    text-shadow: 0 0 10px #000, 0 0 5px #000;
    letter-spacing: 0.05em;
}

h2:hover {
    color: #265785;
    text-shadow: 0 0 15px #FFF, 0 0 10px #FFF, 0 0 5px #FFF;
}

.hidden {
    display: none;
}

h2.back {
    margin-top: 0.33em;
    color: #777;
}

h2.back:hover {
    color: #122a3f;
}

canvas {
    display: none;
}

#credits {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0.2em;
    opacity: 0.5;
    font-size: 0.9em;
    font-family: Helvetica, Arial, sans-serif;
}

.wrapper {
    position: relative;
    padding-bottom: 132%;
    height: 0;
    width: 450px;
}
.wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
